<div class="container payment-block">
  <h1>Редактирование данных ученика Шрилы Прабхупады</h1>
  <%= form_with(model: [:admin, @disciple_info]) do |form| %>
    <%= form.submit "Изменить", class: "btn btn-primary" %>
  <% end %>
</div>
