<div class="container-fluid content-block">
  <div class="content-block-padding">
    <h2 class="main-caption">Достигнутое</h2>
    </br>
    <div class="row">
      <div class="col-lg-5">
        <p class="text-content-bold">
          В 2023 году, на ежегодном съезде GBC в Маяпуре, были торжественно вручены мурти всем членам GBC. В общей сложности, было подарено около 50 мурти Шрилы Прабхупады, и еще около 50 мурти были распространены среди преданных.
        </p>
        <p>
          Отзывы учеников Шрилы Прабхупады и видеозаписи вручения мурти публикуются на специально созданном YouTube-канале.
        </p>
        <p>
          Запуск рекламы вызвал огромный интерес, и всего за два дня мы получили более 200 обращений от преданных, желающих приобрести мурти.
        </p>
        <button class="btn btn-danger content-btn">Посетить Youtube-канал</button>
      </div>
      <div class="col-lg-7">
        <div class="achievements-video-content">
          <iframe src="https://www.youtube.com/embed/pBGWazJnsuM" class="achievements-video-frame">
          </iframe>
        </div>
      </div> 
    </div>
  </div>
</div>