<div id="buy" class="container-fluid content-block">
  </br>
  </br>
  </br>
  <div class="row">
    <div class="col-lg-6"></div>
    <div class="col-lg-6">
      <h4 class="additional-caption">Купить мурти</h4>
      <p>
        Каждый преданный может поддержать проект, приобретя мурти для себя. Таким образом он станет спонсором подарка для одного из учеников Шрилы Прабхупады и пригласит реалистичную форму Шрилы Прабхупады в свой дом. 
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-10">
      <div class="buy-form">
        <div class="row">
          <div class="col-lg-5">
            <div class="container-fluid buy-murti-img-container">
            <img class="buy-murti-img" src="buy-murti.png">
            <p class="buy-text">Купив одно мурти, <em>вы спонсируете мурти для одного ученика</em> Шрилы Прабхупады</p>
            </div>
          </div>
          <div class="col-lg-7">
            </br>
            </br>
            <h2 class="additional-caption-sm">Мурти Шрилы А.Ч. Бхактиведанты Прабхупады</h2>
            <p class="small-text-buy-form">Размер мурти:</p>
            <div class="row align-middle">
              <div class="col-md-2 buy-rectangle"></div>
              <div class="col-md-7">
                <p class="small-text-buy-form">7см х 5см х 5см</p>
              </div>
              <div class="col-md-3">
                <h2 class="additional-caption">3000 р.</h2>
              </div>
            </div>
            <hr class="buy-line">
            <div class="row">
              <div class="col-lg-6"></div>
              <div class="col-lg-6">
                <button class="btn btn-standard text-nowrap content-btn">Приобрести мурти</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
