<div class="container-fluid content-block main-info-background">
  <div class="container-fluid content-block-padding">
    <div class="row">
      <div class="col-lg-6 pt-5 ps-10">
        <h2 class="main-caption">Сделайте самый важный и трогательный подарок для учеников Шрилы Прабхупады</h2>
        <br/>
        <p class="main-text">А также пригласите Его в свой дом в форме реалистичного мурти</p>
        <br/>
        <br/>
        <br/>
        <button class="btn btn-standard text-nowrap content-btn">Узнать больше</button>
      </div>
      <div class="col-lg-6 pt-5">
        <div class="main-images-block">
          <img src="main-background-img.png" class="main-image-cube"/>
          <img src="murti-large.png" class="main-image-murti"/>
          <img src="pattern-main-right.png" class="main-pattern-image-right"/>
        </div>
      </div>
    </div>
  </div>
</div>
