<div class="container-fluid content-block align-items-center justify-content-center">
  <div class="main-video-content">
    <iframe src="https://www.youtube.com/embed/pBGWazJnsuM" class="main-video-frame">
    </iframe>
  </div>
</div>
