<div id="reviews" class="container-fluid content-block reviews-block-background">
  <div class="content-block-padding" style="height: 100%">
    </br>
    </br>
    <h4 class="additional-caption">Отзывы учеников Шрилы Прабхупады</h4>
    </br>
    <div class="reviews-box">
      <div class="row">
        <h4>HG Pankajanghri Prabhu</h4>
      </div>
      <div class="row">
        <p>
          Каждый преданный может поддержать проект, приобретя мурти для себя. Таким образом, он станет спонсором подарка для одного из учеников Шрилы Прабхупады, помогая распространить духовное богатство и вдохновение.
        </p>
      </div>
    </div>
  </div>
</div>