<div class="container-fluid content-block">
  <div class="content-block-padding">
  <h2 class="main-caption">О Проекте</h2>

  <div class="row project-info mt-5">
    <div class="col-lg-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
          <img src="about-1.png">
          </div>
          <div class="col">
            <h4 class="additional-caption">Основная цель</h4>
            <p>Трогательный и значимый подарок для учеников Шрилы Прабхупады</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="about-2.png">
          </div>
          <div class="col">
            <h4 class="additional-caption">Вторая цель</h4>
            <p>Дать возможность каждому преданному поучавствовать в этом служении</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          <img src="about-3.png">
          </div>
          <div class="col">
            <h4 class="additional-caption">Третья цель</h4>
            <p>Распространение реалистичных, качественных мурти Шрилы Прабхупады</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <p class="text-content-bold">Мы стремимся подарить каждому ученику Шрилы Прабхупады улыбку и радость от встречи со своим духовным учителем в форме реалистичного,
      "живого" мурти. Таким образом объект и центр служения всей их жизни придет к каждому из них, как бы принимая их служение и демонстрируя 
      что он всегда находится рядом со своими учениками.
      </p>
      <p>Каждый преданный может поддержать проект, приобретя мурти для себя. Таким образом он станет спонсором подарка для одного из учеников Шрилы Прабхупады 
      и пригласит реалистичную форму Шрилы Прабхупады в свой дом.
      </p>
      <p>Присоединяйтесь к нам в этом служении и помогите устроить встречу Шрилы Прабхупады и Его учеников.</p>
      <button class="btn btn-standard text-nowrap content-btn-wide">Присоединиться к служению</button>
    </div>
  </div>
  </div>
</div>
