<div class="container-fluid content-block">
  <div class="container-fluid content-block-padding">
    <h2 class="additional-caption">Контакты</h2>
    <br>
    <div class="row">
      <div class="col-lg-6">
        <div class="contacts-form">
          <p class="contacts-country">Россия</p>
          <hr class="contacts-line">
          <p class="contacts-name">Шьяма Гаура Дас</p>
          <p>+ 7 800 284 108 108</p>
          <p>sgdiskcon@gmail.com</p>

          <p class="contacts-country">Индия</p>
          <hr class="contacts-line">
          <p class="contacts-name">Шьяма Гаура Дас</p>
          <p>+ 7 800 284 108 108</p>
          <p>sgdiskcon@gmail.com</p>

          <p class="contacts-country">Китай</p>
          <hr class="contacts-line">
          <p class="contacts-name">Шьяма Гаура Дас</p>
          <p>+ 7 800 284 108 108</p>
          <p>sgdiskcon@gmail.com</p>
          <br>
        </div>
      </div>
      <div class="col-lg-6 contacts-background">
        <div class="container-fluid contacts-image-container">
          <img src="contacts-image.png" class="contacts-image">
        </div>
      </div>
    </div>
  </div>
</div>
