<div class="container-fluid content-block">
  <div class="content-block-padding height-big">
    <h2 class="additional-caption">Список членов GBC, которым были подарены мурти</h2>
    </br>
    <div class="row overflow-x-scroll video-row height-bigger">
      <div class="col">
        <div class="gbc-member-video-content">
          <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="gbc-member-video-frame">
          </iframe>
        </div>
      </div>
      <div class="col">
        <div class="gbc-member-video-content">
          <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="gbc-member-video-frame">
          </iframe>
        </div>
      </div>
      <div class="col">
        <div class="gbc-member-video-content">
          <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="gbc-member-video-frame">
          </iframe>
        </div>
      </div>
      <div class="col">
        <div class="gbc-member-video-content">
          <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY" class="gbc-member-video-frame">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
