<div class="container-fluid content-block">
  <div class="container-fluid content-block-padding">
    </br>
    </br>
    <h2 class="additional-caption">Стать спонсором</h2>
    <div class="row">
      <div class="col-lg-7">
        <p>Вы можете поддержать этот проект более масштабно и стать спонсором подарка для большего количества учеников Шрилы Прабхупады. Также вы сможете получить приятные бонусы в виде редчайших реликвий ИСККОН</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="sponsor-card">

        </div>
      </div>
      <div class="col-lg-4">
        
      </div>
      <div class="col-lg-4">

      </div>
    </div>
  </div>
</div>