<div id="sponsors" class="container-fluid content-block-sponsors">
  <div class="container-fluid content-block-padding">
    </br>
    </br>
    <h2 class="additional-caption">Стать спонсором</h2>
    <div class="row">
      <div class="col-lg-7">
        <p>Вы можете поддержать этот проект более масштабно и стать спонсором подарка для большего количества учеников Шрилы Прабхупады. Также вы сможете получить приятные бонусы в виде редчайших реликвий ИСККОН</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="sponsor-card">
          <div class="row">
            <div class="col-lg-3">
              <h2>10</h2>
            </div>
            <div class="col">
              <p class="sponsor-card-caption-1">Мурти Шрилы А.Ч. Бхактиведанты Прабхупады</p>
            </div>
          </div>
          <div class="row">
            <ul class="sponsor-card-list-description">
              <li><p>Мурти в подарок</p></li>
              <li><p>Кусочек настоящего дерева, под которым родился Шрила Прабхупада</p></li>
            </ul>
          </div>
          <hr>
          <p class="sponsor-card-count">Количество</p>
          <div class="row">
            <div class="col-lg-3">
              <input type="text" class="form-control sponsors-card-count-input" value="10" disabled>
            </div>
            <div class="col-lg-9">
              <p class="sponsor-card-price">10 000 р.</p>
            </div>
          </div>
          <div class="row justify-content-center">
            <button class="btn btn-standard text-nowrap content-btn">Стать спонсором</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sponsor-card">
          <div class="row">
            <div class="col-lg-3">
              <h2>30</h2>
            </div>
            <div class="col">
              <p class="sponsor-card-caption-1">Мурти Шрилы А.Ч. Бхактиведанты Прабхупады</p>
            </div>
          </div>
          <div class="row">
            <ul class="sponsor-card-list-description">
              <li><p>Мурти в подарок</p></li>
              <li><p>Кусочек настоящего дерева, под которым родился Шрила Прабхупада</p></li>
              <li><p>Нитка от четок с первой инициации в ИСККОН, на которых Шрила Прабхупада лично читал джапу</p></li>
            </ul>
          </div>
          <hr>
          <p class="sponsor-card-count">Количество</p>
          <div class="row">
            <div class="col-lg-3">
              <input type="text" class="form-control sponsors-card-count-input" value="50" disabled>
            </div>
            <div class="col-lg-9">
              <p class="sponsor-card-price">50 000 р.</p>
            </div>
          </div>
          <div class="row justify-content-center">
            <button class="btn btn-standard text-nowrap content-btn">Стать спонсором</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sponsor-card">
          <div class="row">
            <div class="col-lg-3">
              <h2>50+</h2>
            </div>
            <div class="col">
              <p class="sponsor-card-caption-1">Мурти Шрилы А.Ч. Бхактиведанты Прабхупады</p>
            </div>
          </div>
          <div class="row">
            <ul class="sponsor-card-list-description">
              <li><p>Мурти в подарок</p></li>
              <li><p>Кусочек настоящего дерева, под которым родился Шрила Прабхупада</p></li>
              <li><p>Нитка от четок с первой инициации в ИСККОН, на которых Шрила Прабхупада лично читал джапу</p></li>
              <li><p>Махапрасадные украшения от прекрасных Божеств из наших главных храмов во Вриндаване и Маяпуре</p></li>
            </ul>
          </div>
          <hr>
          <p class="sponsor-card-count">Количество</p>
          <div class="row">
            <div class="col-lg-3">
              <input type="text" class="form-control sponsors-card-count-input" value="50">
            </div>
            <div class="col-lg-9">
              <p class="sponsor-card-price">160 000 р.</p>
            </div>
          </div>
          <div class="row justify-content-center">
            <button class="btn btn-standard text-nowrap content-btn">Стать спонсором</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>