<li class="splide__slide">
  <div class="gbc-slide-item">
    <div class="item-media">
      <img loading="lazy" src="gbc_images_<%= idx %>.png" class="slide-image">
    </div>
    <div class="item-description">
      <p><%= t "gbc_members_block.member_#{idx}" %></p>
    </div>
  </div>
</li>
