<div id="disciple-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <p>Murti delivery information:</p>
        </h5>
      </div>
      <div class="modal-body">
        <p>
          <div><strong id="disciple-name"></strong></div>
          <div><strong id="disciple-status"></strong></div>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
