<div class="gallery-block">
    <div class="gallery-table">
      <div class="gallery-item" large-image-src="murti-album-block-1.jpg">
        <img src="album-img-1.png">
      </div>
      <div class="gallery-item" large-image-src="murti-album-block-2.jpg">
        <img src="album-img-2.png">
      </div>
      <div class="gallery-item" large-image-src="murti-album-block-3.jpg">
        <img src="album-img-3.png">
      </div>
      <div class="gallery-item" large-image-src="murti-album-block-4.jpg">
        <img src="album-img-4.png">
      </div>
      <div class="gallery-item" large-image-src="murti-album-block-5.jpg">
        <img src="album-img-5.png">
      </div>
      <div class="gallery-item" large-image-src="murti-album-block-6.jpg">
        <img src="album-img-6.png">
      </div>
    </div>
    <div class="gallery-display-image">
      <img id="galleryLargeImage" src="murti-album-block-1.jpg">
    </div>
</div>
<br/>
