<div class="gallery-block">
    <div class="gallery-table">
      <div class="gallery-item">
        <img src="album-img-1.png">
      </div>
      <div class="gallery-item">
        <img src="album-img-2.png">
      </div>
      <div class="gallery-item">
        <img src="album-img-3.png">
      </div>
      <div class="gallery-item">
        <img src="album-img-4.png">
      </div>
      <div class="gallery-item">
        <img src="album-img-5.png">
      </div>
      <div class="gallery-item">
        <img src="album-img-6.png">
      </div>
    </div>
    <div class="gallery-display-image">
      <img src="murti-album-block.png">
    </div>
</div>
<br/>
