<div class="gallery-block">
    <div class="gallery-table">
      <div class="gallery-item" large-image-src="gallery-image-1-large.png">
        <img src="gallery-image-1-small.png">
      </div>
      <div class="gallery-item" large-image-src="gallery-image-2-large.png">
        <img src="gallery-image-2-small.png">
      </div>
      <div class="gallery-item" large-image-src="gallery-image-3-large.png">
        <img src="gallery-image-3-small.png">
      </div>
      <div class="gallery-item" large-image-src="gallery-image-4-large.png">
        <img src="gallery-image-4-small.png">
      </div>
      <div class="gallery-item" large-image-src="gallery-image-5-large.png">
        <img src="gallery-image-5-small.png">
      </div>
      <div class="gallery-item" large-image-src="gallery-image-6-large.png">
        <img src="gallery-image-6-small.png">
      </div>
    </div>
    <div class="gallery-display-image">
      <img id="galleryLargeImage" src="gallery-image-1-large.png">
    </div>
</div>
<br/>
