<div class="middle-image-block">
  <img src="pattern-left-1.png" class="frame-left"/>
  <img src="pattern-right-1.png" class="frame-right"/>
  <div class="middle-image-content">
    <div class="first-description">
      <img src="middle-image-photo-1.png"/>
      <p><%= raw t "middle_image_block.first_description" %></p>
    </div>
    <div class="main-photo">
      <img src="middle-murti-arrors.png" class="middle-murti-arrors-img"/>
    </div>
    <div class="second-description">
      <img src="middle-image-photo-2.png"/>
      <p><%= raw t "middle_image_block.second_description" %></p>
    </div>
  </div>
</div>
