
<div id="requisite-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t "requisite-modal.title" %></h5>
      </div>
      <div class="modal-body">
        <p><strong>Тинькофф</strong></p>
        <p>+7 916 581 8526</p>
        <p>Маньков Игорь Анатольевич</p>
        <p>(2200700708879241)</p>
        <br/>
        <p><strong>Сбербанк</strong></p>
        <p>+7 916 581 8526</p>
        <p>Маньков Игорь Анатольевич</p>
        <p>(2202200863935241)</p>
        <br/>
        <p><strong>Альфабанк</strong></p>
        <p>+7 916 581 8526</p>
        <p>Маньков Игорь Анатольевич</p>
        <p>(2200 1529 1460 4809)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t "requisite-modal.button" %></button>
      </div>
    </div>
  </div>
</div>
