<div id="reviews" class="reviews-block">
  <div class="reviews-content">
    <h2><%= t "reviews_block.header" %></h2>
    <br/>
    <div class="review-item">
      <div class="review-item-content">
        <div class="review-top">
          <h3><%= t "reviews_block.review_1_name" %></h3>
        </div>
        <p><%= t "reviews_block.review_1_text" %></p>
      </div>
    </div>
  </div>
</div>
