<div class="title-block">
  <div class="title-block-content">
    <div class="description-block">
      <h1><%= t "title_block.header" %></h1>
      <p><%= t "title_block.description" %></p>
      <br/>
      <button class="btn btn-standard text-nowrap content-btn"><%= t "title_block.button" %></button>
    </div>
    <div class="image-block">
      <img src="murti-main.png" class="title-murti-img"/>
    </div>
  </div>
</div>
