<br/>
<div class="title-video-block">
  <div class="title-video-left-pattern">
  </div>
  <div class="title-video-outer-border">
    <div class="title-video-content">
      <iframe loading="lazy" src="<%= @main_video %>" class="main-video-frame">
      </iframe>
    </div>
  </div>
  <div class="title-video-right-pattern">
  </div>
</div>
<br/>
<div class="title-contacts-block">
  <button class="btn" type="button" id="requisite-modal-button" data-bs-toggle="modal" data-bs-target="#requisite-modal" style="width: 400px">
    <%= t "contacts_block.donation_button" %>
  </button>
</div>
