<div class="title-block">
  <div class="title-block-content">
    <div class="description-block">
      <h1><%= t "title_block.header" %></h1>
      <p><%= t "title_block.description" %></p>
      <br/>
      <a href="#about" class="btn btn-standard text-nowrap content-btn" role="button"><%= t "title_block.button" %></a>
    </div>
    <div class="image-block">
      <img src="murti-main.webp" class="title-murti-img"/>
    </div>
  </div>
</div>
