.achievements-block {
  height: 64rem;

  h1 {
    font-family: PT Serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #484542;
  }

  h2 {
    font-family: PT Serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #484542;
  }

  p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 20.8px;
    text-align: left;
    color: #484542;
  }

  .achievements-content {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
    grid-column-gap: 3rem;
    height: fit-content;

    .description {
      height: fit-content;
      min-width: 30%;
    }

    .description-video {
      padding-top: 1rem;
      position: relative;

      .description-video-content {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
      }
    }

    iframe {
      width: 100%;
      min-height: 20rem;
      border-radius: 8px;
    }

    a[role="button"] {
      line-height: 4vh;
      width: 18vw;
      text-align: center;
      background-color: #B83E3E;
      padding: 16px, 48px, 16px, 48px;
      border-radius: 8px;
      color: white;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .gbc-members-content {
    padding-left: 6rem;
    padding-right: 6rem;
    height: fit-content;
    width: 100%;

    .gbc-slide-item {
      background-color: #6E6051;
      border-radius: 8px;
      height: 24rem;
      position: relative;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 20rem 4rem;

      .item-media {
        .slide-image {
          border-radius: 8px 8px 0 0;
          position: absolute;
          width: 100%;
          height: 20rem;
          z-index: 3;
        }

        .description-video-frame {
          border-radius: 8px 8px 0 0;
          position: absolute;
          width: 100%;
          height: 20rem;
          aspect-ratio: 0.5;
        }
      }

      .item-description {
        height: 4rem;
        background-color: #6E6051;
        align-self: center;
        justify-self: center;
        padding-top: 1.5rem;
        border-radius: 8px;
        p {
          font-family: Inter;
          font-size: 16px;
          font-weight: 300;
          line-height: 16px;
          color: #FFFFFF;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .achievements-block {
    height: fit-content;
    padding-top: 3rem;
    .achievements-content {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      height: fit-content;

      .description-video {
        padding-top: 0;
        height: 18rem;
      }

      a[role="button"] {
        width: 100%;
      }
    }
    .gbc-members-content {
      padding-top: 3rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
